.hobbies{

    width: 100%;
 
 }
 
 .hobbies__title{
     margin: .9rem;
     text-align: center;
 }
 
 .hobbies__line{
 
     margin: .9rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     
 
 }
 .hobbies__box{
 
     margin: .5rem;
     width: calc(50% - 1rem);
     height: 6rem;
     background: #ffffff;
     
    
 }
 .hobbies__img{
 
     margin-left: 1rem;
     margin-top: 2.5rem;
 }
 
 .hobbies__name{
 
     margin-left: 1rem;
 }
 @media screen and (min-width:768px) {
    
    .hobbies__line{
        margin: 2rem;
    }

    .hobbies__box{

        margin: .5rem;
        width: calc(33.3% - 2rem);
        
    
    }
}